# Temp Debugging files
enc_temp_folder/

# Binaries
**/bin/
bin-int/
Binaries/
Intermediates/
!vendor/premake/bin/

# Hazel files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj
**.csproj.user

# Profiling
*.json

# Directories
Hazel/vendor/VulkanSDK
Hazelnut/assets/cache
scripts/__pycache__

# Misc
Hazel.sln.DotSettings.user

# Compiled assembly from C# project.
Hazelnut/Resources/Scripts/Hazel-ScriptCore.dll
Hazelnut/Resources/Scripts/Hazel-ScriptCore.pdb

# JetBrains
.idea/
